/* color scheme:
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e 
*/

* {
    font-family: sans-serif;
}

body {
    background-color: #0b0c10;
}


.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #66FCF1;
}

h1 {
    margin-left: 40px;
    flex: 1;
    font-size: 40px;
    color: black;
}

.side-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    height: 1000px;
    width: 250px;
    background-color: #1f2833;
    left: 0;
    z-index: -1;
}

.book-form {
    position: relative;
    top: 20px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

:focus {
    outline: none;
}

.col-3 {
    float: left;
    width: 27.33%;
    position: relative;
}

.effect-16 {
    font: 15px/24px Arial, sans-serif;
    color: #66FCF1;
    width: 160px;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.effect-16 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-16 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #66FCF1;
    transition: 0.4s;
}

.effect-16:focus ~.focus-border, .has-content.effect-16 ~.focus-border {
    width: 160px;
    transition: 0.4s;
}

.effect-16 ~ label {
    position: absolute;
    left: 0;
    width: 160px;
    top: -16px;
    color: #c5c6c7;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 1px;
    font-size: 12px;
}

.effect-16:focus ~ label, .has-content.effect-16 ~ label {
    top: -16px;
    font-size: 16px;
    color:  #66FCF1;
    transition: 0.3s;
}

.add-cancel {
    width: 80px;
    padding: 5px;
    font-family: sans-serif;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.add-cancel-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 15px;
}

#add-book {
    margin-right: 15px;
    background-color: #66FCF1;
}

#read-status {
    color: #c5c6c7;
    margin-left: 15px;
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #C5C6C7;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #1f2833;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66FCF1;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

